@use "../helpers" as *;

.badge {
  display: inline-flex;
  font-size: fluid(16, 12);
  border: rem(1) solid transparent;
  background: linear-gradient(var(--color-dark-10)) padding-box,
    var(--gradient) border-box;
  border-radius: rem(6);
  padding: fluid(4, 2) fluid(12, 10);
  color: var(--color-light);

  @include laptop {
    border-radius: rem(4);
  }
}
