@use "../helpers" as *;

.card {
  @include tablet-above {
    display: grid;
    grid-template-columns: 37% auto;
  }
  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 0;
    row-gap: fluid(60, 20);

    @include tablet-above {
      border-right: var(--border);
    }

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);
      border-bottom: var(--border);
    }
    &-main {
      display: grid;
      row-gap: fluid(50, 24);

      @include tablet {
        justify-content: start;
      }
    }

    &-icon {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);

      &:has(.rating-view) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
      }
    }
  }
  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) rem(0);
    }
  }

  &__grid {
    display: grid;
    gap: fluid(30, 10);

    &--2-cols {
      grid-template-columns: repeat(2, 1fr);

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &--3-cols {
      column-gap: rem(20);

      @include mobile-above {
        grid-template-columns: repeat(3, 1fr);
        row-gap: fluid(50, 20);
      }

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile {
        row-gap: rem(14);
      }
      .card__cell {
        padding: fluid(30, 20);
      }
    }
    &--3-cols-alt {
      grid-template-columns: repeat(3, 1fr);
      column-gap: rem(20);

      @include mobile-above {
        row-gap: fluid(50, 20);
      }

      @include laptop {
        column-gap: rem(16);
      }

      @include mobile-s {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(14);
      }
      .card__cell {
        padding: fluid(30, 20);
        &--wide {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &--2-cols-alt {
      gap: rem(30) rem(20);

      @include laptop {
        gap: rem(24) rem(16);
      }

      @include mobile-above {
        grid-template-columns: auto 1fr;
      }
    }
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: fluid(20, 4);
    &-title {
      @include fluid-text(24, 18);
    }
    &-description {
      @include fluid-text(18, 14);
    }

    &--wide {
      grid-column: -1/1;
    }

    &--wide-on-mobile-s {
      @include mobile-s {
        grid-column: -1/1;
      }
    }
    &:has(> *:only-child) {
      justify-content: center;
    }

    &:has(.card__cell-link) {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "other link"
        "other link";
      column-gap: rem(20);
      align-items: center;
    }
    &-image {
      width: 100%;
      height: fluid(332, 169);
      object-fit: cover;
      border-radius: rem(12);

      @include laptop {
        border-radius: rem(10);
      }
    }

    &:not(.tile) {
      @include mobile-s {
        grid-template: inital;

        .card__cell__link {
          grid-area: initial;
        }
      }
    }

    &-subtitle {
      font: inherit;
      color: inherit;
    }

    &-link {
      grid-area: link;
    }
  }
}
