@use "../helpers" as *;

.contacts-card {
  display: grid;
  row-gap: fluid(50, 20);

  &__body {
    row-gap: rem(15);
    display: flex;
    flex-direction: column;
    align-items: start;

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      padding-left: rem(50);
    }
  }
}
