@use "../helpers" as *;

.feedback-form {
  @include mobile-above {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: fluid(50, 20) rem(50);
  }

  &__cell {
    &--wide {
      grid-column: -1/1;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;

    @include mobile {
      flex-direction: column;
      row-gap: rem(20);
    }
  }

  &__submit-button {
    min-width: rem(137);
    @include laptop {
      min-width: rem(103);
    }
  }
}
