@use "../helpers" as *;

.metrics {
  --columns: 3;

  &--4-cols {
    --columns: 4;
    text-align: center;
    @include tablet-above {
      .metrics__item:last-child {
        padding-right: 0;
      }
    }
    @include tablet {
      padding-inline: 0;
      --columns: 2;
      .metrics__item {
        border-bottom: var(--border);
        &:nth-child(odd) {
          padding-left: var(--container-padding-x);
        }
        &:nth-child(even) {
          padding-right: var(--container-padding-x);
          border-right: none;
        }
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
  &__item {
    display: flex;
    justify-content: start;
    flex-direction: column-reverse;
    row-gap: rem(10);
    padding: rem(50);

    @include laptop {
      padding: rem(30) rem(40);
      row-gap: rem(2);
    }

    @include tablet {
      row-gap: rem(0);
      padding: rem(20);
    }
    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: var(--border);
    }
  }

  &__value {
    font-weight: 600;
  }

  &__sign {
    color: var(--color-accent);
  }
}
