@use "../helpers" as *;

.news-card {
  display: grid;
  height: 100%;
  row-gap: rem(20);

  @include laptop {
    row-gap: rem(16);
  }

  &:has(.news-card__summary) {
    align-items: center;

    padding-block: fluid(80, 40);
    column-gap: rem(80);

    @include laptop {
      column-gap: rem(40);
    }
    @include mobile {
    }

    @include mobile-above {
      grid-template-columns: 32% 1fr;

      grid-template-areas:
        "image other"
        "image other"
        "image other";
    }

    .news-card {
      &__image {
        height: fluid(427, 213);
        @include mobile-above {
          grid-area: image;
        }
      }
      &__title {
        @include fluid-text(32, 20);
        font-family: var(--font-family-base);
      }

      &__controls {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__image {
    border-radius: rem(12);
    width: 100%;
    height: rem(222);
    object-fit: cover;
    @include laptop {
      height: rem(185);
      border-radius: rem(10);
    }
  }

  &__body {
    display: grid;
    row-gap: rem(10);

    @include laptop {
      row-gap: rem(4);
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    column-gap: rem(50);
    align-items: center;
  }
}
