@use "../helpers" as *;

.socials {
  &--3-cols {
    width: 100%;
    max-width: rem(300);
    .socials {
      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(10);

        @include laptop {
          column-gap: rem(10);
        }
      }
      &__link {
        width: 100%;
        @include flex-center;
        height: rem(60);
        background-color: var(--color-dark-10);
        border: var(--border);
        border-radius: rem(6);

        @include laptop {
          height: rem(48);

          @include hover {
            border-color: var(--color-accent);
          }
        }
      }
    }
  }
  &__list {
    display: flex;
    gap: rem(20);

    @include laptop {
      gap: rem(14);
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    --size: #{rem(24)};

    @include square(var(--size));

    color: var(--color-light);

    @include mobile {
      --size: #{rem(20)};
    }
  }
}
